spacy == 3.7.6
IMDbPY == 2022.7.9
pandas == 2.2.2
nltk == 3.9.1
streamlit == 1.37.1
typing == 3.7.4.3
textblob == 0.18.0.post0
matplotlib == 3.9.2
wordcloud == 1.9.3
https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.7.1/en_core_web_sm-3.7.1-py3-none-any.whl